/* primo quadrato */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 5s;
}

.ex-1-square:hover{
    background-color: red;
}

/* secondo quadrato */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* terzo quadrato */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-3-square:hover {
   border-radius: 50%;
}

/* quarto quadratino */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;
}

.ex-4-square:hover {
opacity: 0;    
}

/* quinto quadratino */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}

.ex-5-square:hover {
    margin: 30px;
    width: 60px;
    height: 60px;
    background: red;
    transform: scale(2);
}

.ex-5-square:active {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transform: scale(.5);
}

/* sesta immagine */

.ex-6-img {
    width: 500px;
    height: 300px;
    background-image: url(https://www.pordenoneoggi.it/wp-content/uploads/2018/09/volo_iStock.jpg);
    background-position: center;
}

.ex-6-img:hover {
    filter: grayscale(1); 
}

/* settima immagine */

.ex-7-img {
    width: 500px;
    height: 300px;
    background-image: url(https://www.aviationcv.com/aviation-blog/wp-content/uploads/2017/01/Boeings-New-Planes-are-Fuel-Savers.png);
    background-position: center;
    transition: 2s;
}

.ex-7-img:hover {
    filter: sepia(.5);
    filter: grayscale(.6);
}

/* ottava immagine */

.ex-8-img {
    width: 500px;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81a5f1725ca68c549e0054dcfdf269de&w=1000&q=80);
    background-position: center;
    transition: 3s;
}

.ex-8-img:hover {
    filter: grayscale(.6);
    filter: sepia(.5);
    border-radius: 15px;
}

/* nona immagine */

.ex-9-img {
    margin: 100px 100px;
    width: 400px;
    height: 300px;
    background-image: url(https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2018/04/jonathan-martin-brunate-lead-image_0.jpg);
    background-position: center;

}

.ex-9-img:hover {
    filter: sepia(.5) grayscale(.6);
    border-radius: 20px;
    transform: scale(1.5);
}

/* decima immagine Come un caricamento: L'icona gira e gira ancora. Il primo che usa fa-spin ha perso.*/

.ex-10-icon {
    width: 200px;
    height: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-yrWJD1YYVPmGzDArAn0JgVQooQA5r3MWhstWnzPIPbBnvjNFijW-Ub7k6japvzNoD1A&usqp=CA);       
    background-position: center;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

/* undicesima immagine Simile all'icona sopra. On hover questa volta gira in senso orario fino ad arrivare a 3/4 e poi torna indietro velocemente*/

.ex-11-icon {
    font-size: 60px;
    width: 200px;
    height: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-yrWJD1YYVPmGzDArAn0JgVQooQA5r3MWhstWnzPIPbBnvjNFijW-Ub7k6japvzNoD1A&usqp=CA);       
    background-position: center;
}

.ex-11-icon:hover {
    animation: spinALittleBit 2s linear;
}
@keyframes spinALittleBit {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* dodicesimo esercizio Anima il bottone, sposta quello spazio bianco */

/* .ex-12-button {
    color: black;
    width: 300px;
    text-transform: uppercase;
    border: 3px solid black;
    font-size: 30px;
    text-decoration: none;
    line-height: 80px;
    text-align: center;
    padding: 30px 50px;
}

.ex-12-button-bianco {
    position: absolute;
    left: 10%;
    color: blanchedalmond;
    width: 60px;
    height: 20px;
}

 */
